:root {
    --dark-color: #1C0B19;
    --light-color: #5BC0EB;
    --link-color: #0056b3;
    --hover-color: #C3423F;
    --lightest-color: #eeeacb;
}

body {
    font-family: "indivisible", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 20px;
    background-image: url("../assets/paper-texture-eeeacb.png");
    background-color: #eeeacb;
    color: #0056b3;
}

main {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

.post {
  border: 3px solid var(--link-color);
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 2em;
  padding: .5em 1em;
  a {
    color: var(--link-color);
    text-decoration: none;
  }
  a:hover {
    background-color: var(--hover-color);
    color: var(--lightest-color);
  }
}

#post {
  margin-bottom: 1em;
  margin-top: 2em;
  padding: .5em 1em;
}

#head {
  display: flex;
  justify-content:space-evenly;
  color:#0056b3;
  background-color: var(--light-color);
  border-radius: 10px;
  padding: .5em 1em;
}

#head h3 a {
  color: var(--dark-color);
  text-decoration:wavy underline;
}

h1 {
    color: #0056b3;
    font-family: "envelove", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 140px;
    margin-bottom: -10px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

h2 {
    color: #0056b3;
    font-size: 18px;
}

h3 {
  color: var(--dark-color);
  font-size: 14px;
  margin-bottom: -10px;
  margin-top: -5px;
}

p1  {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
}

p2{
    font-size: 14px;
    font-style: oblique;
    font-weight: bold;
}

a {
    font-size: 12px;
    color: #0056b3;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
}

.columns {
  display: flex;
  gap: 20px; /* space between columns */
}
.column {
  flex: 1; /* each column takes equal width */
  padding: 25px;
  background: var(--lightest-color);
  border-radius: 10em;
  text-align: center;
  display: flex;
  flex-direction: column; 
  .column-inner {
    flex: 1; /* each column takes equal width */
    align-content: center;
  }
  img{
    width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: fit-content;
    margin-inline: auto;
  }
}

footer {
  text-align: center;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* trying an animation from the internet again */
#body {
  margin:0px;
  font-family:"indivisible", sans-serif;
  font-weight:lighter;
  text-align:center;
  font-size: 400px;
}

.special-headline {
  font-weight: bold;
  font-size:64px;
}

#container {
  color: var(--link-color);
  font-size:64px;
  padding-top:0px;  
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:190px;
  overflow:hidden;
}

#flip > div > div {
  color: var(--lightest-color);
  font-family:"envelove", sans-serif;
  border-radius: .5em;
  padding:8px 48px;
  height:120px;
  margin-bottom:70px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: var(--light-color);
}
#flip div:first-child div {
  background: var(--hover-color);
}
#flip div:last-child div {
  background: var(--dark-color);
}

@keyframes show {
  0% {margin-top:-570px;}
  5% {margin-top:-380px;}
  33% {margin-top:-380px;}
  38% {margin-top:-190px;}
  66% {margin-top:-190px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-570px;}
}

#myDIV div {
        width: 100px;
        height: 100px;
        margin-top:40px;
        margin-bottom: 80px;
        position: relative;
        animation: mymove 5s forwards;
        }
        @keyframes mymove {
        from {left: 0px;}
        to {left: 440px;}
        }